---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import {SITE_TITLE, SITE_DESCRIPTION} from '../../consts';
import {getLangFromUrl, useTranslations} from '../../i18n/utils';
let langCode = Astro.currentLocale;
console.log('Current locale:', Astro.currentLocale);
if (langCode == undefined || !["en", "es", "fr", "de"].includes(langCode)) {
	langCode = 'en';
}
const lang = getLangFromUrl(Astro.url) || langCode;
Astro.redirect('/' + lang);
const t = useTranslations(lang);
const item = {
	"@context": "https://schema.org",
	"@type": "TaxiService",
	"name": "Taxi 21 Cala Ratjada",
	"description": "",
	"image": "https://www.taxicalaratjada.es/img/logo_negro_tranparente.png",
	"url": Astro.url,
	"telephone": "+34 987 654 321",
	"email": "mariayxiscotaxi21@gmail.com",
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "Carrer Bustamante",
		"addressLocality": "Cala Rajada, Illes Balears",
		"postalCode": "07590",
		"addressCountry": "ES"
	},
	"areaServed": {
		"@type": "Place",
		"address": {
			"@type": "PostalAddress",
			"addressLocality": "Cala rajada",
			"addressCountry": "ES"
		}
	},
	"openingHours": [
		"Mo-Su 00:00-23:59"
	]
}
---

<!doctype html>
<html lang={lang}>
<head>
	<BaseHead title={t('about.seo.title')} description={t('about.seo.description')} item={item}
			  image="/img/logo_negro_tranparente.png" keywords={t('about.seo.keywords')}/>
</head>
<body itemscope itemtype="https://schema.org/LocalBusiness">
<div class="relative flex size-full min-h-screen flex-col bg-white group/design-root overflow-x-hidden"
	 style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'>
	<div class="layout-container flex h-full grow flex-col">
		<Header/>
		<main class="px-40 flex flex-1 justify-center py-5">
			<div class="layout-content-container flex flex-col max-w-[960px] flex-1">
				<div class="flex flex-wrap justify-between gap-3 p-4">
					<div class="flex min-w-72 flex-col gap-3">
						<p class="text-[#111811] tracking-light text-[32px] font-bold leading-tight">{t('about.title')}</p>
						<p class="text-[#111811] text-base font-normal leading-normal">{t('about.description')}</p>
					</div>
				</div>
				<h2 class="text-[#111811] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-10">{t('about.story.title')}</h2>
				<p class="text-[#111811] text-base font-normal leading-normal pb-3 pt-1 px-4">
					{t('about.story.description')}
				</p>
				<h2 class="text-[#111811] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-10">{t('about.drivers.title')}</h2>
				<div class="flex p-4 @container">
					<div
						class="flex w-full flex-col gap-4 @[520px]:flex-row @[520px]:justify-between @[520px]:items-center px-5">
						<div class="flex gap-4">
							<div
								class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
								style='background-image: url("/img/maria.jpeg");'
							></div>
							<div class="flex flex-col justify-center">
								<p class="text-[#111811] text-[22px] font-bold leading-tight tracking-[-0.015em]">{t('about.drivers1.title')}</p>
								<p class="text-[#111811] text-base font-normal leading-normal">{t('about.drivers1.subtitle')}</p>
								<p class="text-[#111811] text-base font-normal leading-normal pt-2">
									{t('about.drivers1.description')}
								</p>
							</div>
						</div>
					</div>
					<div
						class="flex w-full flex-col gap-4 @[520px]:flex-row @[520px]:justify-between @[520px]:items-center px-5">
						<div class="flex gap-4">
							<div
								class="bg-center bg-no-repeat aspect-square bg-cover rounded-full min-h-32 w-32"
								style='background-image: url("/img/xisco.jpeg");'
							></div>
							<div class="flex flex-col justify-center">
								<p class="text-[#111811] text-[22px] font-bold leading-tight tracking-[-0.015em]">{t('about.drivers2.title')}</p>
								<p class="text-[#111811] text-base font-normal leading-normal">{t('about.drivers2.subtitle')}</p>
								<p class="text-[#111811] text-base font-normal leading-normal pt-2">
									{t('about.drivers2.description')}
								</p>
							</div>
						</div>
					</div>
				</div>
				<h2 class="text-[#111811] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-10">{t('about.mision.title')}</h2>
				<p class="text-[#111811] text-base font-normal leading-normal pb-3 pt-1 px-4">{t('about.mision.description')}</p>
				<h2 class="text-[#111811] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-10">{t('about.chooseus.title')}</h2>
				<div class="grid grid-cols-[repeat(auto-fit,minmax(158px,1fr))] gap-3 p-4">
					<div class="flex flex-1 gap-3 rounded-lg border border-[#dce5dc] bg-white p-4 items-center">
						<div class="text-[#111811]" data-icon="Car" data-size="24px" data-weight="regular">
							<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
								 viewBox="0 0 256 256">
								<path
									d="M240,112H229.2L201.42,49.5A16,16,0,0,0,186.8,40H69.2a16,16,0,0,0-14.62,9.5L26.8,112H16a8,8,0,0,0,0,16h8v80a16,16,0,0,0,16,16H64a16,16,0,0,0,16-16V192h96v16a16,16,0,0,0,16,16h24a16,16,0,0,0,16-16V128h8a8,8,0,0,0,0-16ZM69.2,56H186.8l24.89,56H44.31ZM64,208H40V192H64Zm128,0V192h24v16Zm24-32H40V128H216ZM56,152a8,8,0,0,1,8-8H80a8,8,0,0,1,0,16H64A8,8,0,0,1,56,152Zm112,0a8,8,0,0,1,8-8h16a8,8,0,0,1,0,16H176A8,8,0,0,1,168,152Z"
								></path>
							</svg>
						</div>
						<h2 class="text-[#111811] text-base font-bold leading-tight">{t('about.chooseus.1')}</h2>
					</div>
					<div class="flex flex-1 gap-3 rounded-lg border border-[#dce5dc] bg-white p-4 items-center">
						<div class="text-[#111811]" data-icon="Clock" data-size="24px" data-weight="regular">
							<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
								 viewBox="0 0 256 256">
								<path
									d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm64-88a8,8,0,0,1-8,8H128a8,8,0,0,1-8-8V72a8,8,0,0,1,16,0v48h48A8,8,0,0,1,192,128Z"
								></path>
							</svg>
						</div>
						<h2 class="text-[#111811] text-base font-bold leading-tight">{t('about.chooseus.2')}</h2>
					</div>
					<div class="flex flex-1 gap-3 rounded-lg border border-[#dce5dc] bg-white p-4 items-center">
						<div class="text-[#111811]" data-icon="Smiley" data-size="24px" data-weight="regular">
							<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor"
								 viewBox="0 0 256 256">
								<path
									d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216ZM80,108a12,12,0,1,1,12,12A12,12,0,0,1,80,108Zm96,0a12,12,0,1,1-12-12A12,12,0,0,1,176,108Zm-1.07,48c-10.29,17.79-27.4,28-46.93,28s-36.63-10.2-46.92-28a8,8,0,1,1,13.84-8c7.47,12.91,19.21,20,33.08,20s25.61-7.1,33.07-20a8,8,0,0,1,13.86,8Z"
								></path>
							</svg>
						</div>
						<h2 class="text-[#111811] text-base font-bold leading-tight">{t('about.chooseus.3')}</h2>
					</div>
				</div>
				<h2 class="text-[#111811] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 pb-3 pt-10">
					{t('contact.title')}</h2>
				<p class="text-[#111811] text-base font-normal leading-normal pb-3 pt-1 px-4">{t('about.contact.desc')}</p>
				<div class="p-4 grid grid-cols-[20%_1fr] gap-x-6">
					<div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dde4dd] py-5">
						<p class="text-[#111811] text-basefont-normal leading-normal">{t('contact.phone')}</p>
						<p class="text-[#121712] text-sm font-normal leading-normal"><a href="tel:+34645329809"
																						itemprop="url" title="phone">+34
							123 456 789</a></p>
					</div>
					<div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dde4dd] py-5">
						<p class="text-[#111811] text-basefont-normal leading-normal">{t('contact.whatsapp')}</p>
						<p class="text-[#121712] text-sm font-normal leading-normal"><a href="https://wa.me/34645329809"
																						itemprop="url" target="_blank"
																						rel="noopener" title="whatsapp">+34
							987 654 321</a></p>
					</div>
					<div class="col-span-2 grid grid-cols-subgrid border-t border-t-[#dde4dd] py-5">
						<p class="text-[#111811] text-basefont-normal leading-normal">{t('contact.email')}</p>
						<p class="text-[#121712] text-sm font-normal leading-normal"><a
							href="mailto:mariayxiscotaxi21@gmail.com" itemprop="email" title="contact email">mariayxiscotaxi21@gmail.com</a>
						</p>
					</div>
				</div>
			</div>

		</main>

		<Footer/>
	</div>
</div>
</body>
</html>

